{% extends "layout.html" %}
{% block content %}
    <body class="intro-header" style="background-image: url('static/4-4-epositphotos_145764807-stock-photo-personally-identifiable-information-concept-3d.jpg');background-repeat: no-repeat;background-size:37cm ;">

    <div class="font-italic ">
        <!--<h1 class="text-center" style="margin: 4cm 0cm 0cm 4cm; color:black; font-size:1cm ">-->
            <!--Welcome to Hotel Reviews Spam Detection Solution-->
        <!--</h1>-->
    </div>

    <p class="lead">
          <a href="/register" class="btn btn-lg active btn-dark font-italic" style="margin: 0.5cm 0cm 0cm 9cm">Sign up for free</a>
    </p>

     <!--<div class="column">
         <img src="{{url_for('static',filename='download.jpg')}}" width="50%">
     </div>-->

{% endblock content %}
