{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Personally Identifiable Infomation Classifier</legend>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg",rows='7',cols='50') }}
                    {% endif %}
                </div>
                <!--<div>-->
                    <!--<input type = "file" name = "file"  >-->
                <!--</div>-->
                <legend class="border-bottom mb-4">Document </legend>
                <div class = "form-group">
                    {{ form.dumpFile.label() }}
                    {{form.dumpFile(class='form-control-file')}}
                    {%if form.dumpFile.errors%}
                        {% for error in form.dumpFile.errors%}
                            <span class = "text-danger"> {{ error }}
                            </span>
                        {%endfor%}
                    {% endif%}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}
